.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90vh; /* Set the height to full viewport height */

}

.left {
    background-color: #ececec; /* Add your desired background color */
    padding: 30px; /* Add padding for spacing inside the section */
}

.right {
    background-color: #f0f0f0; /* Add your desired background color */
    padding: 20px; /* Add padding for spacing inside the section */
}